body {
    background-color: #e4e6eb;
    font-family: 'Assistant', sans-serif;
    font-weight: 500px;
    color: #071c4d;
}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active{
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }

}



    .btn-login {
        background-color: #071c4d;
        color: #fff;

        &:hover {
            background-color: #0e2b6e;
        color: #fff;
        }
    }


//Header
header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url('../images/header-background.jpg');
  background-size: cover;

  h1, p {
    color: #fff;
  }

  h1 {
    font-family: 'Playfair', serif;
    font-weight: bold;
  }

  p {
    font-style: 22px;
  }

  .btn-get-started {
    background-color: #ff9e53;
        color: #fff;

        &:hover {
            background-color: #e9914e;
        color: #fff;
        }
  }
}

//section
.section-stats {
    margin-top: -50px;

.stats-detail {
    padding-top: 15px;
    background-color: #fff;
    padding-left: 40px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

p {
    font-size: 20px;
    font-weight: lighter;
}
}


//populer
.section-populer {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-populer-heading {
        margin-top: 150px;

        h2,p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 14px;
        }
    }
}

.section-populer-content {
    .section-populer-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country {
        font-size: 18px;
        color: #fff;
        }

        .travel-location {
        font-size: 26px;
        color: #fff;
        }

        .travel-button {
        .btn-travel-detail {
            background-color: #ff9e53;
            color: #fff;

            &:hover {
                background-color: #e9914e;
            color: #fff;
            }
        }
        }
    }
}

.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: Playfair Display, sans-serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(#fff 0%,
    #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;


    h2 {
        font-family: Playfair Display, sans-serif;
        font-weight: bold;
        font-size: 40px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: -50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonials {
            font-weight: 200px;
            font-size: 26px;
            color: #6e6e6e;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}